{% extends 'admin.html' %}

{% block content %}
<div class="container">
    <h1><a href="{{url_for('add_admin')}}">Добавить админа</a>
    </h1><table>
        <tr>
            <th class="del">Удалить</th>
            <th>ID</th>
            <th>Логин</th>
            <th>Пароль</th>
        </tr>        
    {% for el in admins %}
    <tr>
        <td><a href="{{url_for('del_item', p_id=el.id, model='admin')}}">X</a></td>
        <td>{{el.id}}</td>
        <td>{{el.username}}</td>
        <td>{{el.password}}</td>
    </tr>
    {% endfor%}
    </table>
</div>
{% endblock content %}