{% extends 'admin.html' %}

{% block content %}
<div class="container">
    <h1><a href="{{url_for('add_rubric')}}">Добавить рубрику</a>
    </h1><table>
        <tr>
            <th class="del">Удалить</th>
            <th>ID</th>
            <th>Рубрика</th>
            <th>ссылка</th>
        </tr>        
    {% for el in rubrics %}
    <tr>
        <td></td>
        <td>{{el.id}}</td>
        <td>{{el.title}}</td>
        <td>{{'/'+el.slug}}</td>
    </tr>
    {% endfor%}
    </table>
</div>
{% endblock content %}